@model IEnumerable<ShopOnline.Models.EF.ProductImage>
@{
    ViewBag.Title = "Ảnh sản phảm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";


}
<style>
    .glImage {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

        .glImage li {
            /*flex-direction:*/
            display: inline-block;
            position: relative;
        }

    .box-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
    }
</style>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ảnh sản phẩm</h3>

            <div class="card-tools">
                <input type="button" value="Tải ảnh" class="btn btn-success" onclick="BrowseServer('txtImage');" />
            </div>
        </div>
        <div class="card-body">
            <ul class="glImage">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                        <li id="trow_@item.Id">
                            <img src="@item.Image" width="200" />
                            <div class="box-btn">
                                <a href="#" data-id="@item.Id" class="btn btn-sm btn-danger btnDelete"><i class="fa fa-trash"></i></a>
                                <a href="#" data-id="@item.Id" class="btn btn-sm @(item.IsDefault ? "btn-success" : "btn-warning") btnDefault">
                                    <i class="fa @(item.IsDefault ? "fa-check" : "fa-times")"></i>
                                </a>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->

<script>
    function BrowseServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            debugger;
            AddImage(@ViewBag.productId, fileUrl);
        };
        finder.popup();
    }
    function AddImage(id, url) {
        debugger;
        $.ajax({
            url: '/admin/productimage/AddImage',
            type: 'POST',
            data: { productId: id, url: url },
            success: function (rs) {
                if (rs.Success) {
                    window.location.reload();
                }
            }
        });
    }
    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data('id');
            var conf = confirm('ban có muốn xóa ảnh này không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                            location.reload();
                        }
                    }
                });
            }
        });
    });
    $(document).ready(function () {
        $('body').on('click', '.btnDefault', function () {
            var id = $(this).data('id');
            var isDefault = $(this).hasClass('btn-success'); // Kiểm tra xem nút hiện tại có class 'btn-success' hay không

            // Gửi yêu cầu AJAX để cập nhật thuộc tính "isDefault" của hình ảnh
            $.ajax({
                url: '/admin/productimage/SetDefault',
                type: 'POST',
                data: { id: id, isDefault: !isDefault }, // Gửi giá trị ngược lại của isDefault
                success: function (rs) {
                    if (rs.success) {
                        // Xóa class cũ và thêm class mới để thay đổi biểu tượng và màu sắc của nút
                        $('.btnDefault[data-id="' + id + '"]').removeClass('btn-success btn-warning').addClass(!isDefault ? 'btn-success' : 'btn-warning');
                        // Cập nhật biểu tượng của nút
                        $('.btnDefault[data-id="' + id + '"] i').removeClass('fa-check fa-times').addClass(!isDefault ? 'fa-check' : 'fa-times');

                        // Tùy chỉnh hành động khác (nếu cần)
                    }
                }
            });
        });
    });
</script>